p {
    background-color: aqua;
    color: crimson;
    font-family: lucida handwriting;
}


li {
    background-color: violet;
    color: rebeccapurple;
    font-family: cursive;
    font-weight: bold;
}

a {
    background-color:blueviolet;
    color: gold;
    text-decoration: rgb(0, 183, 255) wavy underline;
}

#destinations {
    background-color: blue;
    color: yellow
}

h1 {
    color: #EB00FA;
    font-size: 6rem;
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-style: normal;
}


* {
    background-color:aquamarine;
 }