p {
    background-color: aqua;
    color: crimson;
}


li {
    background-color: violet;
    color: rebeccapurple;
}

a {
    background-color:blueviolet;
    color: gold;
    text-decoration: rgb(0, 183, 255) wavy underline;
}

#destinations {
    background-color: blue;
    color: yellow
}

h1 {
    font-size: 3rem;
    color: hotpink;
}
 * {
    background-color:aquamarine;
 }